node_modules/
.expo/
dist/
web-build/

# env files (Security)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm/yarn logs
npm-debug.*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp

# React Native specific
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem
